.profile__img {
  display: block;
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 36.25px 3.75px 0 0;
  padding: 3.8px 2.03125vw 3.8px 1.7968vw;
}

@media screen and (max-width: 600px) {
  .profile__img {
    margin: 38.25px auto 0;
  }
}
