.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 17px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .gallery {
      grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 560px) {
  .gallery {
    grid-template-columns: repeat(1, auto);
  }
}