.gallery__item {
  width: 100%;
  max-width: 22.03125vw;
  max-height: 361px;
  border-radius: 10px;
  background-color: #FFF;
}

@media screen and (max-width: 1000px) {
  .gallery__item {
      max-width: 28.2vw;
    }
}