.popup__close{
  background-image: url(../../../images/Close_Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: relative;
  left: calc(100% + 8px);
}

@media screen and (max-width: 600px) {
  .popup__close {
    left: calc(100% - 32px);
    bottom: calc(100% + 16px);
  }
}
