.profile_add {
  width: 100%;
  max-width: 11.7187vw;
  height: 50px;
  padding: 0;
  border-radius: 2px;
  border: 2px solid #FFF;
  margin: 75px 0 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/Add_Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.profile_add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile_add {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .profile_add {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 36px auto;
    background-size: 16px;
  }
}






