.profile__name {
  color: #FFF;
  font-family: Inter;
  font-size: 3.28125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 62px 18px 16px 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .profile__name {
    font-size: 4.2vw;
  }
}

@media screen and (max-width: 780px) {
  .profile__name {
    font-size: 5.1vw;
  }
}
