.profile__cuption {
  color: #FFF;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .profile__cuption {
    max-width: 336px;
  }
}


@media screen and (max-width: 560px) {
  .profile__cuption {
    margin: 0 auto 36px;
    font-size: 14px;
  }
}
