.popup__text {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0,0,0, 0.2);
  margin: 0 0 30px;
  padding: 0;
  padding-bottom: 13px;
  width: 100%;
}

.popup__text::placeholder {
  color: #000;
  font-family: Inter, Arial, Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}